.main-content {
  padding: 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.photo-grid img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.main-content {
  background: var(--gm3-sys-color-background, rgb(255, 255, 255));
  border-radius: 16px;
  height: 100%;
}

.timing-cls {
  margin: 15px;
}
